02_openflow/pdf_download_flow.json
{
  "flowContents": {
    "identifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
    "instanceIdentifier": "014d3c17-019d-1000-0000-00000394d980",
    "name": "PDF Download Flow",
    "comments": "",
    "position": {
      "x": 400.0,
      "y": 400.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "966022bf-1f2a-39ba-9d6a-2abe1d7f24e9",
        "instanceIdentifier": "014d431c-019d-1000-ffff-ffffbc391257",
        "name": "Trigger",
        "comments": "",
        "position": {
          "x": 400.0,
          "y": 400.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "File Size": "0B",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Mime Type": null,
          "Custom Text": "trigger",
          "Character Set": "UTF-8",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Mime Type": {
            "name": "Mime Type",
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Custom Text": {
            "name": "Custom Text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 hour",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "1d2c21e4-01ea-3ba3-be29-3e87bdd2db89",
        "instanceIdentifier": "014d65b2-019d-1000-0000-00006655ead1",
        "name": "Set Filename",
        "comments": "",
        "position": {
          "x": 400.0,
          "y": 1400.0
        },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "Delete Attributes Expression": null,
          "filename": "${document_number}.pdf",
          "Store State": "Do not store state",
          "Cache Value Lookup Cache Size": "100",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "filename": {
            "name": "filename",
            "displayName": "filename",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Cache Value Lookup Cache Size": {
            "name": "Cache Value Lookup Cache Size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "463757f6-8c78-3c75-9e39-5758e0f3e573",
        "instanceIdentifier": "014d5dbf-019d-1000-0000-000031212528",
        "name": "Download PDF",
        "comments": "",
        "position": {
          "x": 400.0,
          "y": 1200.0
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "Response Header Request Attributes Prefix": null,
          "Proxy Configuration Service": null,
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
          "HTTP URL": null,
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Remote URL": "${pdf_url}",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "GET",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Prefix": {
            "name": "Response Header Request Attributes Prefix",
            "displayName": "Response Header Request Attributes Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Proxy Configuration Service": {
            "name": "Proxy Configuration Service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "OAuth2 Access Token Refresh Strategy": {
            "name": "OAuth2 Access Token Refresh Strategy",
            "displayName": "OAuth2 Access Token Refresh Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Remote URL": {
            "name": "Remote URL",
            "displayName": "Remote URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "No Retry",
          "Retry",
          "Original",
          "Failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "8e3f3fd4-c8aa-3671-88af-577521a6cfbf",
        "instanceIdentifier": "014d5894-019d-1000-0000-00006a8068bd",
        "name": "Extract Fields",
        "comments": "",
        "position": {
          "x": 400.0,
          "y": 1000.0
        },
        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "Destination": "flowfile-attribute",
          "document_number": "$.document_number",
          "Max String Length": "20 MB",
          "Return Type": "auto-detect",
          "Null Value Representation": "empty string",
          "pdf_url": "$.pdf_url",
          "Path Not Found Behavior": "ignore"
        },
        "propertyDescriptors": {
          "Destination": {
            "name": "Destination",
            "displayName": "Destination",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "document_number": {
            "name": "document_number",
            "displayName": "document_number",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Return Type": {
            "name": "Return Type",
            "displayName": "Return Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Null Value Representation": {
            "name": "Null Value Representation",
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "pdf_url": {
            "name": "pdf_url",
            "displayName": "pdf_url",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Path Not Found Behavior": {
            "name": "Path Not Found Behavior",
            "displayName": "Path Not Found Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "unmatched"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "2bb8e5ca-13d9-3585-adf0-87fab265ffed",
        "instanceIdentifier": "014d50e9-019d-1000-0000-000059036e45",
        "name": "Split Results",
        "comments": "",
        "position": {
          "x": 400.0,
          "y": 800.0
        },
        "type": "org.apache.nifi.processors.standard.SplitJson",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "Max String Length": "20 MB",
          "Null Value Representation": "empty string",
          "JsonPath Expression": "$.results[*]"
        },
        "propertyDescriptors": {
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Null Value Representation": {
            "name": "Null Value Representation",
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "JsonPath Expression": {
            "name": "JsonPath Expression",
            "displayName": "JsonPath Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "a2766fbb-788a-3f6a-a9a1-ce229f17d4f5",
        "instanceIdentifier": "014d4983-019d-1000-ffff-ffffb4820d95",
        "name": "Get Regulations",
        "comments": "",
        "position": {
          "x": 400.0,
          "y": 600.0
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "Response Header Request Attributes Prefix": null,
          "Proxy Configuration Service": null,
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
          "HTTP URL": null,
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Remote URL": "https://www.federalregister.gov/api/v1/documents.json?per_page=5&order=newest&fields[]=document_number&fields[]=pdf_url",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "GET",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Prefix": {
            "name": "Response Header Request Attributes Prefix",
            "displayName": "Response Header Request Attributes Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Proxy Configuration Service": {
            "name": "Proxy Configuration Service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "OAuth2 Access Token Refresh Strategy": {
            "name": "OAuth2 Access Token Refresh Strategy",
            "displayName": "OAuth2 Access Token Refresh Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Remote URL": {
            "name": "Remote URL",
            "displayName": "Remote URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "No Retry",
          "Retry",
          "Original",
          "Failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "25902d0a-df17-3fff-9065-f4f126785778",
        "instanceIdentifier": "014d7cef-019d-1000-0000-000056f95472",
        "name": "Create Metadata JSON",
        "comments": "",
        "position": {
          "x": 400.0,
          "y": 1600.0
        },
        "type": "org.apache.nifi.processors.standard.AttributesToJSON",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "Attributes Regular Expression": null,
          "Destination": "flowfile-content",
          "Null Value": "false",
          "Attributes List": "filename,document_number,pdf_url",
          "Pretty Print": "false",
          "Include Core Attributes": "true",
          "JSON Handling Strategy": "ESCAPED"
        },
        "propertyDescriptors": {
          "Attributes Regular Expression": {
            "name": "Attributes Regular Expression",
            "displayName": "Attributes Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Destination": {
            "name": "Destination",
            "displayName": "Destination",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Null Value": {
            "name": "Null Value",
            "displayName": "Null Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes List": {
            "name": "Attributes List",
            "displayName": "Attributes List",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Pretty Print": {
            "name": "Pretty Print",
            "displayName": "Pretty Print",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Include Core Attributes": {
            "name": "Include Core Attributes",
            "displayName": "Include Core Attributes",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "JSON Handling Strategy": {
            "name": "JSON Handling Strategy",
            "displayName": "JSON Handling Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "e24645ca-7d88-3db0-905a-c6d3e8fe8c18",
        "instanceIdentifier": "014d8643-019d-1000-ffff-ffffa1485d6e",
        "name": "Write to Snowflake",
        "comments": "",
        "position": {
          "x": 400.0,
          "y": 1800.0
        },
        "type": "com.snowflake.openflow.runtime.processors.snowpipe.streaming.PutSnowpipeStreaming2",
        "bundle": {
          "group": "com.snowflake.openflow.runtime",
          "artifact": "runtime-snowpipe-streaming-2-processors-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "Account": null,
          "Offset Token Start Expression": null,
          "User": null,
          "Table": "PDF_DOWNLOADS",
          "Transfer Strategy": "ROWS",
          "File Fragment Size": "64 MB",
          "Offset Tracking Timeout": "90 s",
          "Channel Group": "SHARED",
          "Schema": "RAW",
          "Record Reader": "014d6cab-019d-1000-0000-000061b75b6e",
          "Pipe": null,
          "Offset Tracking Resolution": "RECORD",
          "Private Key Service": null,
          "Offset Token Record Pointer": null,
          "Role": "OPENFLOW_REGINTEL_ROLE",
          "Authentication Strategy": "SNOWFLAKE_SESSION_TOKEN",
          "Offset Token End Expression": null,
          "Database": "REG_INTEL",
          "File Fragment Count": "4",
          "Channel Insert Timeout": "30 s",
          "Account Identifier": "sfsenorthamerica-jroche_aws1",
          "Web Client Service Provider": null
        },
        "propertyDescriptors": {
          "Account": {
            "name": "Account",
            "displayName": "Account",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Offset Token Start Expression": {
            "name": "Offset Token Start Expression",
            "displayName": "Offset Token Start Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "User": {
            "name": "User",
            "displayName": "User",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Table": {
            "name": "Table",
            "displayName": "Table",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Transfer Strategy": {
            "name": "Transfer Strategy",
            "displayName": "Transfer Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "File Fragment Size": {
            "name": "File Fragment Size",
            "displayName": "File Fragment Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Offset Tracking Timeout": {
            "name": "Offset Tracking Timeout",
            "displayName": "Offset Tracking Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Channel Group": {
            "name": "Channel Group",
            "displayName": "Channel Group",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema": {
            "name": "Schema",
            "displayName": "Schema",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Pipe": {
            "name": "Pipe",
            "displayName": "Pipe",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Offset Tracking Resolution": {
            "name": "Offset Tracking Resolution",
            "displayName": "Offset Tracking Resolution",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Private Key Service": {
            "name": "Private Key Service",
            "displayName": "Private Key Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Offset Token Record Pointer": {
            "name": "Offset Token Record Pointer",
            "displayName": "Offset Token Record Pointer",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Role": {
            "name": "Role",
            "displayName": "Role",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Authentication Strategy": {
            "name": "Authentication Strategy",
            "displayName": "Authentication Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Offset Token End Expression": {
            "name": "Offset Token End Expression",
            "displayName": "Offset Token End Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database": {
            "name": "Database",
            "displayName": "Database",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "File Fragment Count": {
            "name": "File Fragment Count",
            "displayName": "File Fragment Count",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Channel Insert Timeout": {
            "name": "Channel Insert Timeout",
            "displayName": "Channel Insert Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Account Identifier": {
            "name": "Account Identifier",
            "displayName": "Account Identifier",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Web Client Service Provider": {
            "name": "Web Client Service Provider",
            "displayName": "Web Client Service Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "01ecfbad-e763-34bd-8420-f66aa2f0ade6",
        "instanceIdentifier": "014d612a-019d-1000-0000-00006e7e7c61",
        "source": {
          "id": "8e3f3fd4-c8aa-3671-88af-577521a6cfbf",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Extract Fields",
          "comments": "",
          "instanceIdentifier": "014d5894-019d-1000-0000-00006a8068bd"
        },
        "destination": {
          "id": "463757f6-8c78-3c75-9e39-5758e0f3e573",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Download PDF",
          "comments": "",
          "instanceIdentifier": "014d5dbf-019d-1000-0000-000031212528"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "matched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "d4c466ac-cfc3-3f71-bd78-4066e13f799b",
        "instanceIdentifier": "014d550d-019d-1000-ffff-ffff8441d128",
        "source": {
          "id": "a2766fbb-788a-3f6a-a9a1-ce229f17d4f5",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Get Regulations",
          "comments": "",
          "instanceIdentifier": "014d4983-019d-1000-ffff-ffffb4820d95"
        },
        "destination": {
          "id": "2bb8e5ca-13d9-3585-adf0-87fab265ffed",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Split Results",
          "comments": "",
          "instanceIdentifier": "014d50e9-019d-1000-0000-000059036e45"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Response"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "0cf73a53-d943-335c-93ca-e40da4e2975f",
        "instanceIdentifier": "014d821b-019d-1000-ffff-ffffa75291b1",
        "source": {
          "id": "1d2c21e4-01ea-3ba3-be29-3e87bdd2db89",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Set Filename",
          "comments": "",
          "instanceIdentifier": "014d65b2-019d-1000-0000-00006655ead1"
        },
        "destination": {
          "id": "25902d0a-df17-3fff-9065-f4f126785778",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Create Metadata JSON",
          "comments": "",
          "instanceIdentifier": "014d7cef-019d-1000-0000-000056f95472"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "fbc851fc-b176-3b2d-b634-fe693ea6a93d",
        "instanceIdentifier": "014d4dc4-019d-1000-0000-0000520cdb91",
        "source": {
          "id": "966022bf-1f2a-39ba-9d6a-2abe1d7f24e9",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Trigger",
          "comments": "",
          "instanceIdentifier": "014d431c-019d-1000-ffff-ffffbc391257"
        },
        "destination": {
          "id": "a2766fbb-788a-3f6a-a9a1-ce229f17d4f5",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Get Regulations",
          "comments": "",
          "instanceIdentifier": "014d4983-019d-1000-ffff-ffffb4820d95"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "7b2909f7-836c-3d8a-90e2-f34fa3b8a628",
        "instanceIdentifier": "014d69ff-019d-1000-ffff-ffffb06771ca",
        "source": {
          "id": "463757f6-8c78-3c75-9e39-5758e0f3e573",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Download PDF",
          "comments": "",
          "instanceIdentifier": "014d5dbf-019d-1000-0000-000031212528"
        },
        "destination": {
          "id": "1d2c21e4-01ea-3ba3-be29-3e87bdd2db89",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Set Filename",
          "comments": "",
          "instanceIdentifier": "014d65b2-019d-1000-0000-00006655ead1"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Response"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "197c7dd9-8cbd-37f0-8288-8823bace9b6c",
        "instanceIdentifier": "014d5c99-019d-1000-ffff-ffff9e72652b",
        "source": {
          "id": "2bb8e5ca-13d9-3585-adf0-87fab265ffed",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Split Results",
          "comments": "",
          "instanceIdentifier": "014d50e9-019d-1000-0000-000059036e45"
        },
        "destination": {
          "id": "8e3f3fd4-c8aa-3671-88af-577521a6cfbf",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Extract Fields",
          "comments": "",
          "instanceIdentifier": "014d5894-019d-1000-0000-00006a8068bd"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "split"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      },
      {
        "identifier": "eaef9a7b-947a-3cce-bde4-f793f43f5317",
        "instanceIdentifier": "014d8a52-019d-1000-0000-00007fc44d12",
        "source": {
          "id": "25902d0a-df17-3fff-9065-f4f126785778",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Create Metadata JSON",
          "comments": "",
          "instanceIdentifier": "014d7cef-019d-1000-0000-000056f95472"
        },
        "destination": {
          "id": "e24645ca-7d88-3db0-905a-c6d3e8fe8c18",
          "type": "PROCESSOR",
          "groupId": "ee481b43-b5c7-38fd-a342-a11fa9f8680e",
          "name": "Write to Snowflake",
          "comments": "",
          "instanceIdentifier": "014d8643-019d-1000-ffff-ffffa1485d6e"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "ed7dba5a-f6e3-3ed0-993b-df5c08e4a832",
        "instanceIdentifier": "014d6cab-019d-1000-0000-000061b75b6e",
        "name": "JSON Reader",
        "comments": "",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2026.3.17.13"
        },
        "properties": {
          "Schema Branch": null,
          "Schema Reference Reader": null,
          "Schema Text": "${avro.schema}",
          "Starting Field Name": null,
          "Max String Length": "20 MB",
          "Schema Inference Cache": null,
          "Starting Field Strategy": "ROOT_NODE",
          "Schema Registry": null,
          "Schema Access Strategy": "infer-schema",
          "Schema Name": "${schema.name}",
          "Timestamp Format": null,
          "Date Format": null,
          "Schema Application Strategy": "SELECTED_PART",
          "Schema Version": null,
          "Time Format": null,
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "Schema Branch": {
            "name": "Schema Branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Reference Reader": {
            "name": "Schema Reference Reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Text": {
            "name": "Schema Text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Starting Field Name": {
            "name": "Starting Field Name",
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Inference Cache": {
            "name": "Schema Inference Cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Starting Field Strategy": {
            "name": "Starting Field Strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Registry": {
            "name": "Schema Registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Access Strategy": {
            "name": "Schema Access Strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Name": {
            "name": "Schema Name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Application Strategy": {
            "name": "Schema Application Strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Version": {
            "name": "Schema Version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow Comments": {
            "name": "Allow Comments",
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2026.3.17.13"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "ee481b43-b5c7-38fd-a342-a11fa9f8680e"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}