02_openflow/pdf_download_flow.json
{
    "flowContents": {
        "identifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
        "instanceIdentifier": "01894152-019d-1000-ffff-ffffccf77656",
        "name": "PDF Download Flow",
        "comments": "",
        "position": {
            "x": 400.0,
            "y": 400.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "db18299a-0ed8-306f-a37e-15f58e6491eb",
                "instanceIdentifier": "0189fe46-019d-1000-0000-00003b1d4980",
                "name": "Filter Has PDF",
                "comments": "",
                "position": {
                    "x": 400.0,
                    "y": 1200.0
                },
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "has_pdf": "${pdf_url:isEmpty():not()}",
                    "Routing Strategy": "Route to Property name"
                },
                "propertyDescriptors": {
                    "has_pdf": {
                        "name": "has_pdf",
                        "displayName": "has_pdf",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Routing Strategy": {
                        "name": "Routing Strategy",
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "38fec275-15a2-36ac-bba7-0a0c403da6d7",
                "instanceIdentifier": "018a1189-019d-1000-0000-00001c986c69",
                "name": "Upload to Stage",
                "comments": "",
                "position": {
                    "x": 400.0,
                    "y": 1800.0
                },
                "type": "com.snowflake.openflow.runtime.processors.snowflake.PutSnowflakeInternalStageFile",
                "bundle": {
                    "group": "com.snowflake.openflow.runtime",
                    "artifact": "runtime-snowflake-processors-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "Compression Enabled": "false",
                    "Table": null,
                    "Schema": null,
                    "Snowflake Connection Service": "058007bb-0616-31ba-8c51-6252a6c7201a",
                    "Database": null,
                    "File Prefix": null,
                    "Stage": "REG_INTEL.RAW.REGULATION_PDFS",
                    "File Name": "${filename}",
                    "Internal Stage Type": "named"
                },
                "propertyDescriptors": {
                    "Compression Enabled": {
                        "name": "Compression Enabled",
                        "displayName": "Compression Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Table": {
                        "name": "Table",
                        "displayName": "Table",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema": {
                        "name": "Schema",
                        "displayName": "Schema",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Snowflake Connection Service": {
                        "name": "Snowflake Connection Service",
                        "displayName": "Snowflake Connection Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database": {
                        "name": "Database",
                        "displayName": "Database",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Prefix": {
                        "name": "File Prefix",
                        "displayName": "File Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stage": {
                        "name": "Stage",
                        "displayName": "Stage",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Name": {
                        "name": "File Name",
                        "displayName": "File Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Internal Stage Type": {
                        "name": "Internal Stage Type",
                        "displayName": "Internal Stage Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "bfc7eff9-5a47-3f56-bb4b-54790272ec24",
                "instanceIdentifier": "018a05dc-019d-1000-0000-000028d6d7be",
                "name": "Download PDF",
                "comments": "",
                "position": {
                    "x": 400.0,
                    "y": 1400.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "Request Content-Encoding": "DISABLED",
                    "Request Multipart Form-Data Filename Enabled": "true",
                    "Request Chunked Transfer-Encoding Enabled": "false",
                    "Response Header Request Attributes Prefix": null,
                    "Proxy Configuration Service": null,
                    "HTTP/2 Disabled": "False",
                    "Connection Timeout": "5 secs",
                    "Response Cookie Strategy": "DISABLED",
                    "Socket Read Timeout": "15 secs",
                    "Socket Idle Connections": "5",
                    "Request Body Enabled": "true",
                    "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
                    "HTTP URL": "${pdf_url}",
                    "Request OAuth2 Access Token Provider": null,
                    "Socket Idle Timeout": "5 mins",
                    "Response Redirects Enabled": "True",
                    "Socket Write Timeout": "15 secs",
                    "Request Header Attributes Pattern": null,
                    "Response FlowFile Naming Strategy": "RANDOM",
                    "Response Cache Enabled": "false",
                    "Request Date Header Enabled": "True",
                    "Request Failure Penalization Enabled": "false",
                    "Response Body Attribute Size": "256",
                    "SSL Context Service": null,
                    "Response Generation Required": "false",
                    "Request User-Agent": null,
                    "Response Header Request Attributes Enabled": "false",
                    "HTTP Method": "GET",
                    "Request Username": null,
                    "Request Content-Type": "${mime.type}",
                    "Response Body Attribute Name": null,
                    "Request Digest Authentication Enabled": "false",
                    "Request Multipart Form-Data Name": null,
                    "Response Cache Size": "10MB",
                    "Response Body Ignored": "false"
                },
                "propertyDescriptors": {
                    "Request Content-Encoding": {
                        "name": "Request Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Filename Enabled": {
                        "name": "Request Multipart Form-Data Filename Enabled",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Chunked Transfer-Encoding Enabled": {
                        "name": "Request Chunked Transfer-Encoding Enabled",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Prefix": {
                        "name": "Response Header Request Attributes Prefix",
                        "displayName": "Response Header Request Attributes Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Proxy Configuration Service": {
                        "name": "Proxy Configuration Service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP/2 Disabled": {
                        "name": "HTTP/2 Disabled",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cookie Strategy": {
                        "name": "Response Cookie Strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Password": {
                        "name": "Request Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "Socket Read Timeout": {
                        "name": "Socket Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Connections": {
                        "name": "Socket Idle Connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Body Enabled": {
                        "name": "Request Body Enabled",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "OAuth2 Access Token Refresh Strategy": {
                        "name": "OAuth2 Access Token Refresh Strategy",
                        "displayName": "OAuth2 Access Token Refresh Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP URL": {
                        "name": "HTTP URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request OAuth2 Access Token Provider": {
                        "name": "Request OAuth2 Access Token Provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Timeout": {
                        "name": "Socket Idle Timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Redirects Enabled": {
                        "name": "Response Redirects Enabled",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Write Timeout": {
                        "name": "Socket Write Timeout",
                        "displayName": "Socket Write Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Header Attributes Pattern": {
                        "name": "Request Header Attributes Pattern",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response FlowFile Naming Strategy": {
                        "name": "Response FlowFile Naming Strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Enabled": {
                        "name": "Response Cache Enabled",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Date Header Enabled": {
                        "name": "Request Date Header Enabled",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Failure Penalization Enabled": {
                        "name": "Request Failure Penalization Enabled",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Size": {
                        "name": "Response Body Attribute Size",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Generation Required": {
                        "name": "Response Generation Required",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request User-Agent": {
                        "name": "Request User-Agent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Enabled": {
                        "name": "Response Header Request Attributes Enabled",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Username": {
                        "name": "Request Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Content-Type": {
                        "name": "Request Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Name": {
                        "name": "Response Body Attribute Name",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Digest Authentication Enabled": {
                        "name": "Request Digest Authentication Enabled",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Name": {
                        "name": "Request Multipart Form-Data Name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Size": {
                        "name": "Response Cache Size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Ignored": {
                        "name": "Response Body Ignored",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "ab2a7367-2714-3db2-b3a5-9bf4b2b6a81b",
                "instanceIdentifier": "0189f15e-019d-1000-0000-00004f31179c",
                "name": "Split Results",
                "comments": "",
                "position": {
                    "x": 400.0,
                    "y": 800.0
                },
                "type": "org.apache.nifi.processors.standard.SplitJson",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "Max String Length": "20 MB",
                    "Null Value Representation": "empty string",
                    "JsonPath Expression": "$.results[*]"
                },
                "propertyDescriptors": {
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "JsonPath Expression": {
                        "name": "JsonPath Expression",
                        "displayName": "JsonPath Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "d243834a-08b0-3d23-8736-d2169c5f4934",
                "instanceIdentifier": "0189f78b-019d-1000-0000-000003a40d3a",
                "name": "Extract Fields",
                "comments": "",
                "position": {
                    "x": 400.0,
                    "y": 1000.0
                },
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "document_number": "$.document_number",
                    "Max String Length": "20 MB",
                    "Return Type": "auto-detect",
                    "Null Value Representation": "empty string",
                    "pdf_url": "$.pdf_url",
                    "title": "$.title",
                    "Path Not Found Behavior": "ignore"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "name": "Destination",
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "document_number": {
                        "name": "document_number",
                        "displayName": "document_number",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Return Type": {
                        "name": "Return Type",
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "pdf_url": {
                        "name": "pdf_url",
                        "displayName": "pdf_url",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "title": {
                        "name": "title",
                        "displayName": "title",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Path Not Found Behavior": {
                        "name": "Path Not Found Behavior",
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "eba283bd-813b-3b87-a84b-22f88da17b0a",
                "instanceIdentifier": "0189e44a-019d-1000-ffff-ffffbe218b9c",
                "name": "Trigger Daily",
                "comments": "",
                "position": {
                    "x": 400.0,
                    "y": 400.0
                },
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "File Size": "0B",
                    "Batch Size": "1",
                    "Unique FlowFiles": "false",
                    "Mime Type": null,
                    "Custom Text": null,
                    "Character Set": "UTF-8",
                    "Data Format": "Text"
                },
                "propertyDescriptors": {
                    "File Size": {
                        "name": "File Size",
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Unique FlowFiles": {
                        "name": "Unique FlowFiles",
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Mime Type": {
                        "name": "Mime Type",
                        "displayName": "Mime Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Custom Text": {
                        "name": "Custom Text",
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Data Format": {
                        "name": "Data Format",
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "1 day",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "e07000cb-f3e0-3c37-8f5d-ba6f865277c0",
                "instanceIdentifier": "0189eaab-019d-1000-ffff-ffffd0b345f5",
                "name": "Get Regulations",
                "comments": "",
                "position": {
                    "x": 400.0,
                    "y": 600.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "Request Content-Encoding": "DISABLED",
                    "Request Multipart Form-Data Filename Enabled": "true",
                    "Request Chunked Transfer-Encoding Enabled": "false",
                    "Response Header Request Attributes Prefix": null,
                    "Proxy Configuration Service": null,
                    "HTTP/2 Disabled": "False",
                    "Connection Timeout": "5 secs",
                    "Response Cookie Strategy": "DISABLED",
                    "Socket Read Timeout": "15 secs",
                    "Socket Idle Connections": "5",
                    "Request Body Enabled": "true",
                    "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
                    "HTTP URL": "https://www.federalregister.gov/api/v1/documents.json?conditions[type][]=RULE&conditions[type][]=PRORULE&per_page=20&fields[]=document_number&fields[]=title&fields[]=pdf_url",
                    "Request OAuth2 Access Token Provider": null,
                    "Socket Idle Timeout": "5 mins",
                    "Response Redirects Enabled": "True",
                    "Socket Write Timeout": "15 secs",
                    "Request Header Attributes Pattern": null,
                    "Response FlowFile Naming Strategy": "RANDOM",
                    "Response Cache Enabled": "false",
                    "Request Date Header Enabled": "True",
                    "Request Failure Penalization Enabled": "false",
                    "Response Body Attribute Size": "256",
                    "SSL Context Service": null,
                    "Response Generation Required": "false",
                    "Request User-Agent": null,
                    "Response Header Request Attributes Enabled": "false",
                    "HTTP Method": "GET",
                    "Request Username": null,
                    "Request Content-Type": "${mime.type}",
                    "Response Body Attribute Name": null,
                    "Request Digest Authentication Enabled": "false",
                    "Request Multipart Form-Data Name": null,
                    "Response Cache Size": "10MB",
                    "Response Body Ignored": "false"
                },
                "propertyDescriptors": {
                    "Request Content-Encoding": {
                        "name": "Request Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Filename Enabled": {
                        "name": "Request Multipart Form-Data Filename Enabled",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Chunked Transfer-Encoding Enabled": {
                        "name": "Request Chunked Transfer-Encoding Enabled",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Prefix": {
                        "name": "Response Header Request Attributes Prefix",
                        "displayName": "Response Header Request Attributes Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Proxy Configuration Service": {
                        "name": "Proxy Configuration Service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP/2 Disabled": {
                        "name": "HTTP/2 Disabled",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cookie Strategy": {
                        "name": "Response Cookie Strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Password": {
                        "name": "Request Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "Socket Read Timeout": {
                        "name": "Socket Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Connections": {
                        "name": "Socket Idle Connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Body Enabled": {
                        "name": "Request Body Enabled",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "OAuth2 Access Token Refresh Strategy": {
                        "name": "OAuth2 Access Token Refresh Strategy",
                        "displayName": "OAuth2 Access Token Refresh Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP URL": {
                        "name": "HTTP URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request OAuth2 Access Token Provider": {
                        "name": "Request OAuth2 Access Token Provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Timeout": {
                        "name": "Socket Idle Timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Redirects Enabled": {
                        "name": "Response Redirects Enabled",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Write Timeout": {
                        "name": "Socket Write Timeout",
                        "displayName": "Socket Write Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Header Attributes Pattern": {
                        "name": "Request Header Attributes Pattern",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response FlowFile Naming Strategy": {
                        "name": "Response FlowFile Naming Strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Enabled": {
                        "name": "Response Cache Enabled",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Date Header Enabled": {
                        "name": "Request Date Header Enabled",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Failure Penalization Enabled": {
                        "name": "Request Failure Penalization Enabled",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Size": {
                        "name": "Response Body Attribute Size",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Generation Required": {
                        "name": "Response Generation Required",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request User-Agent": {
                        "name": "Request User-Agent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Enabled": {
                        "name": "Response Header Request Attributes Enabled",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Username": {
                        "name": "Request Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Content-Type": {
                        "name": "Request Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Name": {
                        "name": "Response Body Attribute Name",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Digest Authentication Enabled": {
                        "name": "Request Digest Authentication Enabled",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Name": {
                        "name": "Request Multipart Form-Data Name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Size": {
                        "name": "Response Cache Size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Ignored": {
                        "name": "Response Body Ignored",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "e921fe27-11d0-319a-84f7-fe072d7c52e3",
                "instanceIdentifier": "018a0ad5-019d-1000-0000-00001cae5b3b",
                "name": "Set Filename",
                "comments": "",
                "position": {
                    "x": 400.0,
                    "y": 1600.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "filename": "${document_number}.pdf",
                    "Store State": "Do not store state",
                    "Cache Value Lookup Cache Size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "filename": {
                        "name": "filename",
                        "displayName": "filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Value Lookup Cache Size": {
                        "name": "Cache Value Lookup Cache Size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "f8798055-f6f8-361d-9ed3-d3cdf3e74c9a",
                "instanceIdentifier": "018a7a62-019d-1000-ffff-ffff95fc75d0",
                "source": {
                    "id": "db18299a-0ed8-306f-a37e-15f58e6491eb",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Filter Has PDF",
                    "comments": "",
                    "instanceIdentifier": "0189fe46-019d-1000-0000-00003b1d4980"
                },
                "destination": {
                    "id": "bfc7eff9-5a47-3f56-bb4b-54790272ec24",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Download PDF",
                    "comments": "",
                    "instanceIdentifier": "018a05dc-019d-1000-0000-000028d6d7be"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "has_pdf"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "f5dad441-568c-3743-aef6-a310ff613f2d",
                "instanceIdentifier": "018a7753-019d-1000-0000-00003a130d48",
                "source": {
                    "id": "ab2a7367-2714-3db2-b3a5-9bf4b2b6a81b",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Split Results",
                    "comments": "",
                    "instanceIdentifier": "0189f15e-019d-1000-0000-00004f31179c"
                },
                "destination": {
                    "id": "d243834a-08b0-3d23-8736-d2169c5f4934",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Extract Fields",
                    "comments": "",
                    "instanceIdentifier": "0189f78b-019d-1000-0000-000003a40d3a"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "split"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "a950bbc3-8e81-3e28-86ce-516f6d3e4b68",
                "instanceIdentifier": "018a7e0a-019d-1000-ffff-ffffcd265dc7",
                "source": {
                    "id": "e921fe27-11d0-319a-84f7-fe072d7c52e3",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Set Filename",
                    "comments": "",
                    "instanceIdentifier": "018a0ad5-019d-1000-0000-00001cae5b3b"
                },
                "destination": {
                    "id": "38fec275-15a2-36ac-bba7-0a0c403da6d7",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Upload to Stage",
                    "comments": "",
                    "instanceIdentifier": "018a1189-019d-1000-0000-00001c986c69"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "43719590-a9fa-3abe-aac5-c6acea03b194",
                "instanceIdentifier": "018a74ba-019d-1000-ffff-ffffd884769b",
                "source": {
                    "id": "eba283bd-813b-3b87-a84b-22f88da17b0a",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Trigger Daily",
                    "comments": "",
                    "instanceIdentifier": "0189e44a-019d-1000-ffff-ffffbe218b9c"
                },
                "destination": {
                    "id": "e07000cb-f3e0-3c37-8f5d-ba6f865277c0",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Get Regulations",
                    "comments": "",
                    "instanceIdentifier": "0189eaab-019d-1000-ffff-ffffd0b345f5"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "7956ec09-294f-3016-84c8-2a121dd5718b",
                "instanceIdentifier": "018a7c8f-019d-1000-0000-0000796415f6",
                "source": {
                    "id": "bfc7eff9-5a47-3f56-bb4b-54790272ec24",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Download PDF",
                    "comments": "",
                    "instanceIdentifier": "018a05dc-019d-1000-0000-000028d6d7be"
                },
                "destination": {
                    "id": "e921fe27-11d0-319a-84f7-fe072d7c52e3",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Set Filename",
                    "comments": "",
                    "instanceIdentifier": "018a0ad5-019d-1000-0000-00001cae5b3b"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "Response"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "2a8bb31e-95b1-3f96-8412-05ae930fdbd2",
                "instanceIdentifier": "018a7928-019d-1000-ffff-ffffa4866dc2",
                "source": {
                    "id": "d243834a-08b0-3d23-8736-d2169c5f4934",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Extract Fields",
                    "comments": "",
                    "instanceIdentifier": "0189f78b-019d-1000-0000-000003a40d3a"
                },
                "destination": {
                    "id": "db18299a-0ed8-306f-a37e-15f58e6491eb",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Filter Has PDF",
                    "comments": "",
                    "instanceIdentifier": "0189fe46-019d-1000-0000-00003b1d4980"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            },
            {
                "identifier": "9b2fcc67-2a71-3d7c-815e-4bafd961c81a",
                "instanceIdentifier": "018a761a-019d-1000-0000-00003fa2b573",
                "source": {
                    "id": "e07000cb-f3e0-3c37-8f5d-ba6f865277c0",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Get Regulations",
                    "comments": "",
                    "instanceIdentifier": "0189eaab-019d-1000-ffff-ffffd0b345f5"
                },
                "destination": {
                    "id": "ab2a7367-2714-3db2-b3a5-9bf4b2b6a81b",
                    "type": "PROCESSOR",
                    "groupId": "45baf53d-02b6-3c42-83bc-13444f2e5ce4",
                    "name": "Split Results",
                    "comments": "",
                    "instanceIdentifier": "0189f15e-019d-1000-0000-00004f31179c"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "Response"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "058007bb-0616-31ba-8c51-6252a6c7201a",
                "instanceIdentifier": "01894449-019d-1000-ffff-ffffa8b22645",
                "name": "Snowflake Connection",
                "comments": "",
                "type": "com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService",
                "bundle": {
                    "group": "com.snowflake.openflow.runtime",
                    "artifact": "runtime-snowflake-connection-service-nar",
                    "version": "2026.3.17.13"
                },
                "properties": {
                    "Account": "${SNOWFLAKE_ACCOUNT_LOCATOR}",
                    "Warehouse": "OPENFLOW_REGINTEL_WH",
                    "User": "${SNOWFLAKE_USER}",
                    "Maximum Connections": "10",
                    "Maximum Lifetime": "30 minutes",
                    "Schema": "RAW",
                    "Private Key Service": null,
                    "Connection Strategy": "STANDARD",
                    "Connection Timeout": "30 seconds",
                    "Role": "OPENFLOW_REGINTEL_ROLE",
                    "Idle Timeout": "10 minutes",
                    "Authentication Strategy": "SNOWFLAKE_SESSION_TOKEN",
                    "Database Name": "REG_INTEL",
                    "Network Timeout": "5 minutes"
                },
                "propertyDescriptors": {
                    "Account": {
                        "name": "Account",
                        "displayName": "Account",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Warehouse": {
                        "name": "Warehouse",
                        "displayName": "Warehouse",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "User": {
                        "name": "User",
                        "displayName": "User",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Connections": {
                        "name": "Maximum Connections",
                        "displayName": "Maximum Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Lifetime": {
                        "name": "Maximum Lifetime",
                        "displayName": "Maximum Lifetime",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema": {
                        "name": "Schema",
                        "displayName": "Schema",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Private Key Service": {
                        "name": "Private Key Service",
                        "displayName": "Private Key Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Connection Strategy": {
                        "name": "Connection Strategy",
                        "displayName": "Connection Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Role": {
                        "name": "Role",
                        "displayName": "Role",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Idle Timeout": {
                        "name": "Idle Timeout",
                        "displayName": "Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Authentication Strategy": {
                        "name": "Authentication Strategy",
                        "displayName": "Authentication Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Name": {
                        "name": "Database Name",
                        "displayName": "Database Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Network Timeout": {
                        "name": "Network Timeout",
                        "displayName": "Network Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.dbcp.DBCPService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2026.3.17.13"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "45baf53d-02b6-3c42-83bc-13444f2e5ce4"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}
